{{- /* Go Template file */ -}}

{{define "base"}}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.4/dist/css/datepicker-bs4.min.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/notie/dist/notie.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <title>{{.Page}} - Smythe Bed and Breakfast</title>
    {{block "css" .}}
    {{end}}
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Smythe B&B</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link{{if eq .Path "home"}} active" aria-current="page"{{else}}"{{end}} href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link{{if eq .Path "about"}} active" aria-current="page"{{else}}"{{end}} href="/about">About</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle{{if eq .Path "rooms"}} active" aria-current="page"{{else}}"{{end}} href="/rooms" id="roomDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Rooms
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="roomDropdown">
                            <li><a class="dropdown-item" href="/rooms/generals-quarters">General's Quarters</a></li>
                            <li><a class="dropdown-item" href="/rooms/majors-suite">Majors's Suite</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link{{if eq .Path "contact"}} active" aria-current="page"{{else}}"{{end}} href="/contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link{{if eq .Path "search-availability"}} active" aria-current="page"{{else}}"{{end}} href="/search-availability">Book Now</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {{block "content" .}}
    {{end}}
    <div class="row my-footer">
        <div class="col text-center">
            Left
        </div>
        <div class="col text-center">
            Middle
        </div>
        <div class="col text-center">
            Right
        </div>
    </div>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.4/dist/js/datepicker-full.min.js"></script>
    <script src="https://unpkg.com/notie"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/static/js/prompt.js"></script>
    <script src="/static/js/bookings.js"></script>

    <script>
        // Dropdown is a link on second click
        document.getElementById('roomDropdown').addEventListener('click', function(event) {
            var target = document.getElementById(event.target.id);
            if(!target.classList.contains('show')) {  // 'show' will be removed when the menu is closing
                location.assign(target.attributes.getNamedItem("href").value);
            }
        });

        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            let forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })()

        {{with .Error}}
        attention.notify({msg: "{{.}}", msgType: "error",})
        {{end}}

        {{with .Warning}}
        attention.notify({msg: "{{.}}", msgType: "warning"})
        {{end}}

        {{with .Flash}}
        attention.notify({msg: "{{.}}", msgType: "success"})
        {{end}}

    </script>
    {{block "js" .}}
    {{end}}

</body>

</html>
{{end}}