{{template "base" .}}

{{define "page-name"}}Contact Us{{end}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center mt-4">Contact Smythe Bed and Breakfast</h1>
            <p>Your home away from home, set on the majestic waters of the Atlantic ocean, this will be a vacation to
                remember. Your home away from home, set on the majestic waters of the Atlantic ocean, this will be a
                vacation to
                remember. Your home away from home, set on the majestic waters of the Atlantic ocean, this will be a
                vacation to
                remember. Your home away from home, set on the majestic waters of the Atlantic ocean, this will be a
                vacation to
                remember. Your home away from home, set on the majestic waters of the Atlantic ocean, this will be a
                vacation to
                remember. Your home away from home, set on the majestic waters of the Atlantic ocean, this will be a
                vacation to
                remember.</p>
        </div>
    </div>
</div>
{{end}}