{{- /* Go Template file */ -}}

{{template "base" .}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <img src="/static/images/generals-quarters.png" class="img-fluid img-thumbnail mx-auto d-block room-image"
                alt="General's Quarters">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1 class="text-center mt-4">General's Quarters</h1>
            <p>Your home away from home, set on the majestic waters of the Atlantic ocean, this will be a vacation to
                remember. Your home away from home, set on the majestic waters of the Atlantic ocean, this will be a
                vacation to
                remember. Your home away from home, set on the majestic waters of the Atlantic ocean, this will be a
                vacation to
                remember. Your home away from home, set on the majestic waters of the Atlantic ocean, this will be a
                vacation to
                remember. Your home away from home, set on the majestic waters of the Atlantic ocean, this will be a
                vacation to
                remember. Your home away from home, set on the majestic waters of the Atlantic ocean, this will be a
                vacation to
                remember.</p>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <a href="#!" class="btn btn-success">Check Availability</a>
        </div>
    </div>
</div>
{{end}}

{{define "js"}}
<script>
    document.getElementById('check-availability').addEventListener('click', reserve.prompt);
</script>
{{end}}
