{{- /* Go Template file */ -}}

{{template "base" .}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="mt-4">Make a Reservation</h1>
            <p><strong>Reservation Details</strong></p>
            <form action="/make-reservation" method="post" class="needs-validation" novalidate>
                <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                <div class="mb-3">
                    <label for="first-name" class="form-label">First Name:</label>
                    <input type="text" required class="form-control" id="first-name">
                    <div class="invalid-feedback">
                        Please provide your first name.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="last-name" class="form-label">Last Name:</label>
                    <input type="text" required class="form-control" id="last-name">
                    <div class="invalid-feedback">
                        Please provide your last name.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="email-addr" class="form-label">Email address:</label>
                    <input type="email" required class="form-control" id="email-addr">
                    <div class="invalid-feedback">
                        Please provide your email address.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">Phone Number:</label>
                    <input type="tel" required class="form-control" id="phone">
                    <div class="invalid-feedback">
                        Please provide your phone number.
                    </div>
                </div>
                
                <button id="check-availability" class="btn btn-primary">Check Availability</button>
            </form>
        </div>
    </div>
</div>
{{end}}